/* Responsividade */
@media (max-width: 1024px) {
    body {
        margin: 0;
    }
    
    section.venda {
        width: 100%;
        justify-content: center;
    }
    
    div.frase{
        font-size: 1em;
    }
}

@media (max-width: 1410px) {
    div.frase{
        font-size: 1em;
    }
}

@media (max-width: 900px) {
    div.frase{
        font-size: 0.7em;
    }
}

@media (max-width: 660px) {
    body {
        margin: 0;
    }

    div.frase {
        max-width: 100%;
        font-size: 0.8em;
        left: 21%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

    div.frase p {
        display: none;
    }

    section.venda {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .produto {
        width: 90%;
    }

    .filtro {
        width: 90%;
        margin: 10px auto;
    }
}